<nav>
  <div class="logo">
    <a href="/">DATA</a>
  </div>
  <div class="pages">
    <a href="/add/packages_added">Packages</a>
    <a href="/add/categories_added">Categories</a>
    <a href="/add/subcateg_added">Sub Categories</a>
  </div>
</nav>
