<div class="form-group">
  <form action="/add/package_edit/{{packag.id}}" method="post">
    <h3>EDIT PACKAGE</h3>
    <div class="form-elements">
      <p>
      <input type="text" name="name" placeholder="Name" id="ip_name" value="{{packag.name}}">
      </p>
      <p>
      <input type="number" name="price" step=0.01 placeholder="Price" id="ip_price" value="{{packag.price}}">
      </p>
      <p>
      <textarea name="description" rows="3" placeholder="Description" id="ip_description">{{packag.description}}</textarea>
      </p>
    </div>
    <input type="submit" class="button" value="Editar">
  </form>
</div>
