<div class="form-group">
  <form action="/add/category_edit/{{category.id}}" method="post">
    <h3>EDIT CATEGORY</h3>
    <div class="form-elements">
      <p>
      <input type="text" name="name" placeholder="Name" id="ip_name" value="{{category.name}}">
      </p>
    </div>
    <input type="submit" class="button" value="Editar">
  </form>
</div>
