<div class="form-group">
  <form action="packages" method="post">
    <h3>ADD NEW PACKAGE</h3>
    <div class="form-elements">
      <p>
      <input type="text" name="name" placeholder="Name" id="ip_name">
      </p>
      <p>
      <input type="number" name="price" step=0.01 placeholder="Price" id="ip_price">
      </p>
      <p>
      <textarea name="description" rows="3" placeholder="Description" id="ip_description"></textarea>
      </p>
    </div>
    <input type="submit" class="button">
  </form>
</div>
