<div class="form-group">
  <form action="subcateg" method="post">
    <h3>ADD NEW SUB-CATEGORY</h3>
    <div class="form-elements">
      <p>
      <input type="text" name="name" placeholder="Name" id="ip_name">
      </p>
      <p>
      <input type="number" name="category_id" min="0" placeholder="Category ID" id="ip_catID">
      </p>
    </div>
    <input type="submit" class="button">
  </form>
</div>
