<div class="form-group">
  <form action="subcateg" method="post">
    <h3>ADD NEW SUB-CATEGORY</h3>
    <div class="form-elements">
      <p>
      <input type="text" name="name" placeholder="Name" id="ip_name">
      </p>
      <p>
      Selecciona la categoria a la que pertenecera:
      </p>
      <p>
      <select name="category_id" id="ip_catID" required>
        <option value="">Elige una opción</option>
	{{#each list_categ}}
	<option value="{{id}}">{{name}}</option>
	{{/each}}
      </select>
      </p>
    </div>
    <input type="submit" class="button">
  </form>
</div>
