<!DOCTYPE html>
<html>
    <head>
        <title>Data Test</title>
        <meta charset="UTF-8">
				<link rel="styleSheet" href="css/data.css">
    </head>
    <body>
	      <nav>
	          <a href="#">DATA</a>
	      </nav>
				<main>
					<div class="tabla_info">
						<table>
								<tr>
										<th>First</th>
										<th>Second</th>
										<th>Third</th>
										<th>Fourth</th>
								</tr>
								<% for(var i = 0; i < data.length; i++) { %>
									 <tr>
										   <td><%= data[i].id %></td>
											 <td><%= data[i].name %></td>
											 <td><%= data[i].description %></td>
											 <td><%= data[i].price %></td>
									 </tr> 
								<% } %>
						</table>
					</div>
					<div class="formulario">
						<form action="/data" method="post">
							<h3>Add Info</h3>
							<div class="form-group">
								<input type="text" name="name" placeholder="Name" id="ip_name">
								<input type="text" name="description" placeholder="Description" id="ip=desc">
								<input type="number" name="price" placeholder="Price" id="ip_price">
							</div>
						  <input type="submit" class="button">
						</form>
					</div>
				</main>
    </body>
</html>
