<div class="form-group">
	<form action="signup" method="POST">
		<h3>SignUp</h3>
		<div class="form-elements">
			<p>
			<input type="text" name="fullname" placeholder="Full Name" autofocus>
			</p>
			<p>
			<input type="text" name="username" placeholder="Username">
			</p>
			<p>
			<input type="password" name="password" placeholder="Password">
			</p>
		</div>
		<button id="signup">SingUp</button>
	</form>
</div>
